#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: #f0ad4e;
}

/* Shoppies Header  */

#header-section {
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#home-container {
    display: flex;
    flex-direction: column;
}

#shoppies-logo {
    font-family: 'Bungee Outline', cursive;
    font-size: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

/* Login and Signup Form */

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form-header {
    font-family: 'Bungee Inline', cursive !important;
    font-size: 150px;
    color: #e3e3e1;
}

.login-toggle {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}


.form-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px #e3e3e1 solid;
    font-family: 'Roboto Mono', monospace;
}

/* Form Styling */

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 5px;
  outline: none;
  outline-style: none;
  padding: 3px 10px;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 5px;
  outline: none;
  outline-style: none;
  padding: 3px 10px;
}

input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-outline-warning {
    margin-top: -1px;
    border-radius: 0;
    border: none;
    border-bottom: #f0ad4e 1px solid;
}

/* Dashboard */

.dash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dash-header-top {
    font-family: 'Oswald', serif;
    font-size: 24px;
}

.dash-header {
    font-family: 'Bungee Outline', cursive;
    font-size: 90px;
}

.logout-btn {
    font-family: 'Roboto Mono', monospace;
    align-self: flex-end;
    cursor: pointer;
    padding: 10px;
}

.logout-btn:hover {
    background-color: #f0ad4e;
    color: black;
}

.dash-toggle {
    display: flex;
    width: 90%;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    margin-top: 36px;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.norm:hover {
    cursor: pointer;
    color: #f0ad4e;
}

/* Nomination Banner */

#banner {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

/* Search */

#search-container {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar {
    margin: 30px 0;
    font-size: 24px;
    border: 3px whitesmoke solid;
    border-radius: 10px;
    width: 50%;
}

#res-heading {
    font-size: 16px;
}

#search-res-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}


/* Movie Listing */

.listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 255px;
    margin: 25px;
}

.no-poster {
    position: relative;
    width: 100%;
    object-fit:cover; 
    height: 100%;
    border: 2px whitesmoke solid;
    background-color: white;
    z-index: 4;
}

.film-icon {
    opacity: 0.1;
    color: gray;
    font-size: 120px !important;
}

.poster {
    /* opacity: .3; */
    position: relative;
    width: 100%;
    object-fit:cover; 
    height: 100%;
    z-index: 10;
}

.listing-container:hover .poster {
    opacity: 0.2;
    z-index: -1;
}

.listing-container:hover .no-poster {
    z-index: -1;
}

.title {
    position: absolute;
    max-width: 200px;
    padding: 5px;
    text-align: center;
    margin-top: -60px;
    z-index: 6;
    font-family: 'Roboto Mono', monospace !important;
}

.nom-btn {
    position: absolute;
    margin-bottom: -50px;
    max-width: 200px;
    margin-top: 60px;
    font-family: 'Roboto Mono', monospace !important;
}

.trophy {
    color: #f0ad4e;
    position: absolute;
    margin-top: -160px;
    z-index: 14;
}

.nom-err {
    font-size: 12px;
    color: red;
    position: absolute;
    margin-top: 230px;
}


/* Nomination Container */

#nom-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}