#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: #f0ad4e;
}

/* Shoppies Header  */

#header-section {
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#shoppies-logo {
    font-family: 'Bungee Outline', cursive;
    font-size: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

/* Login and Signup Form */

#login-section {
    margin-top: 100px;
}

#login-container {
    align-self: center;
    justify-content: center;
}

.login-header {
    font-family: 'Bungee Inline', cursive;
    font-size: 150px;
    color: #e3e3e1;
    margin-bottom: -110px;
    margin-left: -100px;
}

.login-toggle {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}


.form-parent {
    display: flex;
    flex-direction: column;
}

.form-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px #e3e3e1 solid;
    z-index: 3;
    margin-top: 35px;
    margin-left: 60px;
    font-family: 'Roboto Mono', monospace;
}

/* Form Styling */

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 5px;
  outline: none;
  outline-style: none;
  padding: 3px 10px;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 5px;
  outline: none;
  outline-style: none;
  padding: 3px 10px;
}

input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-outline-warning {
    margin-top: -1px;
    border-radius: 0;
    border: none;
    border-bottom: #f0ad4e 1px solid;
}